@page "/CouncilMemberExpenses"
@using Finance.Components.Data
@using MudBlazor
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Council Member Expenses</PageTitle>

<h1>Council Member Expenses</h1>

@if (councilMemberExpenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="councilMemberExpenses" Dense="true" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" Bordered="true" SortLabel="Sort By">
        <HeaderContent>
            <MudTh>Journal Date</MudTh>
            <MudTh>Ward Office</MudTh>
            <MudTh>Council Member</MudTh>
            <MudTh>Vendor</MudTh>
            <MudTh>Expense Type</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Account</MudTh>
            <MudTh>Amount ($)</MudTh>
        </HeaderContent>

        <RowTemplate Context="expense">
            <MudTd DataLabel="Date">@expense.JournalDate</MudTd>
            <MudTd DataLabel="Ward">@expense.WardOffice</MudTd>
            <MudTd DataLabel="Member">@expense.CouncilMember</MudTd>
            <MudTd DataLabel="Vendor">@expense.Vendor</MudTd>
            <MudTd DataLabel="Type">@expense.ExpenseType</MudTd>
            <MudTd DataLabel="Desc">@expense.Description</MudTd>
            <MudTd DataLabel="Acct">@expense.Account</MudTd>
            <MudTd DataLabel="Amt">@expense.Amount</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

@code {
    private bool _hidePosition;
    private bool _loading = true;
    private static readonly HttpClient _httpClient = new HttpClient();

    private List<WardExpense>? councilMemberExpenses;

    protected override async Task OnInitializedAsync()
    {
        string url = "https://data.winnipeg.ca/resource/mgde-4fua.json";

        try
        {
            // Fetch JSON data from the API
            string jsonResponse = await _httpClient.GetStringAsync(url);

            // Deserialize JSON into a list of WardExpense objects
            councilMemberExpenses = JsonHelper.DeserializeList<WardExpense>(jsonResponse);

            _loading = false;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
}
